* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-style: oblique;
  background-color: #ddd;
  text-align: center;
  font-size: 40px;
}
.todo-input-wrapper {
  background-color: #ddd;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

input {
  border: none;
  border-radius: 8px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 20px;
}
input[type='button'] {
  background-color: salmon;
  color: white;
  font-weight: 700;
}
.list-wrapper {
  padding: 20px;
}

.todo-list {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.todo_list {
  color: green;
  font-size: 30px;
  font-weight: 800;
}
span {
  display: block;
  max-width: 90%;
  overflow-wrap: break-word;
}
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: 10px;
}
.todo.done {
  color: grey;
  text-decoration: line-through;
}
